{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 50,
  "plugins": ["prettier-plugin-jsdoc"],
  "jsdocCommentLineStrategy": "multiline",
  "jsdocPrintWidth": 50,
  "jsdocSeparateReturnsFromDescription": true
}